<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona domowa</title>
</head>
<body>
<div th:replace="fragments :: header">
</div>
<h2>Kategorie</h2>
<ul>
    <li><a href="/lista?kategoria=">Wszystkie produkty</a></li>
    <li><a href="/lista?kategoria=FOOD">Artykuły spożywcze</a></li>
    <li><a href="/lista?kategoria=HOUSEHOLDS_GOODS">Artykuły gospodarstwa domowego</a></li>
    <li><a href="/lista?kategoria=ELSE">Inne</a></li>
</ul>
<form method="post" th:action="@{/dodaj}" th:object="${newProduct}">
    <h4>Dodaj produkt do bazy</h4>
    <div>
        <input type="text" placeholder="Podaj nazwę..." th:field="*{name}"><br/>
        <span>Cena: </span> <input type="text" placeholder="Podaj cenę..." th:field="*{price}"><br/>
        <select th:field="*{category}">
            <option th:each="category : ${T(com.exercises.springproducts.data.Category).values()}"
                    th:value="${category}" th:text="${category.name}">
            </option>
        </select>
        <input type="submit" value="Dodaj"/>
    </div>
</form>
</body>
</html>